<!DOCTYPE html>
	<html>
		<head>
			<title>Debanshi the Developer</title>

			<!-- Libraries -->
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

			<!-- custom css --> 
			<link rel="stylesheet" type="text/css" href="/css/main.css">
<!-- 			<link rel="stylesheet" href="./css/style.css">
			<link rel="stylesheet" href="./css/responsive.css"> -->
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<!-- <li><a href="/about">About</a></li> -->
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/projects">Projects</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
				<div class="blurb">
					<h1>Hi there, I'm Debanshi Bheda.</h1>
					<p>I am a developer with a degree in Electrical Engineering and a past career in technology consulting and innovation strategy for Global 2000 companies. <strong>I am passionate about designing and building applications, and am excited to pursue this passion professionally.</strong> Please take a look at my <a href="/resume">resume</a> and <a href="/projects">projects</a>, and feel free to <a href="mailto:debanshibheda@gmail.com">reach out</a> about any openings your engineering team may have.</p>
					<br>
				</div><!-- /.blurb -->
			
			</div><!-- /.container -->
			
			<div class="panel-group">
			  <div class="panel panel-default">
			  		<div class="panel-heading">Comic POW! Wow</div>
  					<div class="panel-body"> Comic Pow Wow is a mobile application that allows users to create comic books with their friends in real-time, using camera photos. The application was developed using the MEAN stack, Ionic framework, Canvas, and Firebase. My main responsibilities included the full-stack functionality of image filtering, canvasing and real-time feed through Firebase configuration. <a href="https://github.com/debanshib/comic-book">[Github Code]</a>
  					</div>
  					<div class="panel-body">
  						<img class="img-responsive" src="images/Reel.PNG" width="200">
  						<div class="embed-responsive embed-responsive-16by9">
    						<iframe class="embed-responsive-item" src="https://www.youtube.com/watch?time_continue=248&v=cni-2cEVzt0"></iframe>
						</div>

  					</div>
			   
			  </div>
			  <div class="panel panel-default">
			  		<div class="panel-heading">Trekly</div>
			    	<div class="panel-body">Trekly is a travel package e-commerce website with multi-tenancy. It was developed using the MEAN stack and Stripe API. I was responsible for full-stack functionality of the shopping cart and multi-tenancy feature. <a href="https://github.com/debanshib/trekly">[Github Code]</a>
					</div>
			  </div>
			  <div class="panel panel-default">
			  		<div class="panel-heading">WakeMe</div>
			    	<div class="panel-body">WakeMe is an alarm clock that allows users to share customized wakeup messages and songs with friends. It was developed using the MEAN stack, ResponsiveVoice.JS, and Spotify API. I won the Fullstack Academy Sigurdsson Award for Best Design and UX for this personal project, developed in 3 days. <a href="https://github.com/debanshib/wakeMe">[Github Code]</a>
					</div>
			  </div>
			</div>


			<!-- {% block content %}
			{% endblock %} -->

			<footer>
	    		<ul>
	        		<li><a href="mailto:debanshibheda@gmail.com">Email</a></li>
	        		<li><a href="https://github.com/debanshib">Github</a></li>
	        		<li><a href="https://www.linkedin.com/in/debanshibheda">LinkedIn</a></li>
				</ul>
			</footer>
		</body>
	</html>

<!-- 	{% include themes/fasouto/default.html %} -->