<!DOCTYPE html>
	<html>
		<head>
			<title>Debanshi the Developer</title>

			<!-- Libraries -->
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

			<!-- custom css --> 
			<link rel="stylesheet" type="text/css" href="/css/main.css">
<!-- 			<link rel="stylesheet" href="./css/style.css">
			<link rel="stylesheet" href="./css/responsive.css"> -->
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<!-- <li><a href="/about">About</a></li> -->
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/projects">Projects</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
				<div class="blurb">
					<h1>Hi there, I'm Debanshi Bheda.</h1>
					<p>I am a developer with a degree in Electrical Engineering and a past career in technology consulting and innovation strategy for Global 2000 companies. <strong>I am passionate about designing and building applications, and am excited to pursue this passion professionally.</strong> Please take a look at my <a href="/resume">resume</a> and <a href="/projects">projects</a>, and feel free to <a href="mailto:debanshibheda@gmail.com">reach out</a> about any openings your engineering team may have.</p>
					<br>
				</div><!-- /.blurb -->
			
			</div><!-- /.container -->
			
			{% extends "project.html" %}

			<!-- {% block content %}
			{% endblock %} -->

			<footer>
	    		<ul>
	        		<li><a href="mailto:debanshibheda@gmail.com">Email</a></li>
	        		<li><a href="https://github.com/debanshib">Github</a></li>
	        		<li><a href="https://www.linkedin.com/in/debanshibheda">LinkedIn</a></li>
				</ul>
			</footer>
		</body>
	</html>

<!-- 	{% include themes/fasouto/default.html %} -->